$light-primary: #C5CAE9;

// Timeline vertical bar
.vp-work-experience-bar {
  position: relative;

  &::before {
    content: '';
    background: $light-primary;
    width: 5px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 991px) {

  .vp-work-experience-bar {
    &::before {
      left: 20px;
    }
  }
}