.vp-technical-knowledge-heading, .vp-technical-knowledge-sub-heading {
    font-family: 'Jost', sans-serif;;
    font-weight: bold;
    text-justify: inter-word;
    color: rgba(0, 0, 0, 0.54);
}

.vp-languages-proficiency {
    font-weight: bold;
    font-size: small;
    color: #666666;
}

@media screen and (min-width: 992px) {
    .vp-offset-lg-4_5 {
        margin-left: 37.50%
    }
}
